- content_for :title do
  Record labels

%ul.record_label_list
  %li.record_label_id=    link_to 'id', admin_record_labels_path(:sort => 'id', :order => order)
  %li.record_label_name=  link_to 'name', admin_record_labels_path(:sort => 'name', :order => order)
  %li.record_label_edit
  %li.record_label_show
  %li.record_label_destroy

- for label in @record_labels do
  %ul.record_label_list
    %li.record_label_id=      label.id
    %li.record_label_name=    label.name
    %li.record_label_edit=    link_to image_tag('edit_button.png'), edit_record_label_path(label)
    %li.record_label_destroy= link_to image_tag('destroy_button.png'), admin_record_label_path(label), :method => :delete, :confirm => "Really delete #{label.name}?"
    %li.record_label_show=    link_to image_tag('show_button.png'), record_label_path(label)
  %br
