.row
  .span6
    = simple_form_for(resource, :url => user_session_path, :wrapper => :inline) do |f|
      %fieldset
        %p
          %h3 Login
          = f.input :email, :input_html => { :size => 14, :autofocus => true }
          = f.input :password, :input_html => { :size => 14 }
          = f.input :remember_me, :as => :boolean
          = f.submit "Login", :class => "btn primary", :id => "login_button"

