- content_for :title do
  Messages

%h1 Messages
%table
  %thead
    %tr
      %th Title
      %th

  %tbody
    -  @admin_messages.each do |msg|
      %tr
        %td= msg.title
        %td
          = link_to "Edit", edit_admin_admin_message_path(msg), :remote => true, :class => 'edit_message_link'
          %br
          = link_to "Delete", admin_admin_message_path(msg), :method => :delete

= paginate @admin_messages

= simple_form_for AdminMessage.new, :url => admin_admin_messages_path, :wrapper => :inline do |f|
  = f.input :title, :placeholder => 'Enter message title'
  = f.input :body
  = f.input :url, :placeholder => 'Enter url like this http://koblo.com'
  = f.association :user_types#, :as => :check_boxes
  = submit_tag 'Create', :class => 'btn primary'

