<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>
			Email
		</title>
		<style type="text/css" media="screen">
/*<![CDATA[*/
		a{  }
		body{ padding:0 !important; margin:0 !important; display:block !important; background:#0e151b; }
		/*]]>*/
		</style>
	</head>
	<body style="padding:0; margin:0; background:#0e151b">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#0E151B">
			<tr>
				<td valign="top" bgcolor="#0E151B">
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0e151b;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#02090d;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#030b10;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#040d12;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#040e14;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:33px; background:#040f15;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="33" style="height:33px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:33px; background:#040f15;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="33" style="height:33px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:6px; background:#061115;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="6" style="height:6px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#071015;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#060f13;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#040a0d;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#000000;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#090d11;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0a0f14;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0c1217;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0d141a;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
				</td>
				<td width="600" align="center" valign="top">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td bgcolor="#040F15">
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#0e151b;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#02090d;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#030b10;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#040d12;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#040e14;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:8px; background:#040f15;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="8" style="height:8px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:8px; background:#040f15;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="8" style="height:8px" alt="" />
								</div>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td style="font-size:0pt; line-height:0pt; text-align:left;">
											<a href="#" target="_blank"><img src="<%= attachments['logo.jpg'].url %>" border="0" width="121" height="37" alt="Koblo" /></a>
										</td>
									</tr>
								</table>
								<div style="font-size:0pt; line-height:0pt; height:13px">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="13" style="height:13px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:6px; background:#061115;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="6" style="height:6px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#071015;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#060f13;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#040a0d;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#000000;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#090d11;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#0a0f14;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#0c1217;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
								<div style="font-size:0pt; line-height:0pt; height:1px; background:#0d141a;">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div style="font-size:0pt; line-height:0pt; height:4px">
									<img src="<%= attachments['empty.gif'].url %>" width="1" height="4" style="height:4px" alt="" />
								</div>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td style="font-size:0pt; line-height:0pt; text-align:left;">
											<img src="<%= attachments['box1_top.jpg'].url %>" width="600" height="10" alt="" />
										</td>
									</tr>
									<tr>
										<td>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td style="font-size:0pt; line-height:0pt; text-align:left;" bgcolor="#3F494E" width="1"></td>
													<td style="font-size:0pt; line-height:0pt; text-align:left;" bgcolor="#1E2A30" width="9"></td>
													<td>
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td style="font-size:0pt; line-height:0pt; text-align:left;">
																	<img src="<%= attachments['box2_top.jpg'].url %>" width="580" height="7" alt="" />
																</td>
															</tr>
															<tr>
																<td>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td>
																				<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#1F2B31">
																					<tr>
																						<td style="font-size:0pt; line-height:0pt; text-align:left;" width="1" bgcolor="#253035"></td>
																						<td style="font-size:0pt; line-height:0pt; text-align:left;" width="30">
																							<img src="<%= attachments['empty.gif'].url %>" width="30" height="60" alt="" />
																						</td>
																						<td>
																							<div style="color:#ffffff; font-family:Tahoma,Arial,sans-serif; font-size:24px; line-height:28px; font-weight:bold; text-align:left;">
																								Koblo Newsletter
																							</div>
																						</td>
																						<td style="font-size:0pt; line-height:0pt; text-align:left;" width="1" bgcolor="#253035"></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td bgcolor="#28343A">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td>
																							<table width="100%" border="0" cellspacing="0" cellpadding="0">
																								<tr>
																									<td style="font-size:0pt; line-height:0pt; text-align:left;" width="1" bgcolor="#253035"></td>
																									<td style="font-size:0pt; line-height:0pt; text-align:left;" width="92"></td>
																									<td style="color:#b2b2b2; font-family:Arial; font-size:14px; line-height:18px; text-align:left;">
																										<div style="font-size:0pt; line-height:0pt; height:25px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="25" style="height:25px" alt="" />
																										</div>
																										<div style="font-size:0pt; line-height:0pt; height:25px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="25" style="height:25px" alt="" />
                                                    </div>
                                                    <%= simple_format @message_title %>
																										<div style="font-size:0pt; line-height:0pt; height:20px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="20" style="height:20px" alt="" />
                                                    </div>
                                                    <%= simple_format @message_body %>
																										<div style="font-size:0pt; line-height:0pt; height:20px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="20" style="height:20px" alt="" />
																										</div>Best regards
																										<div style="font-size:0pt; line-height:0pt; height:20px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="20" style="height:20px" alt="" />
																										</div>Koblo
																										<div style="font-size:0pt; line-height:0pt; height:25px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="25" style="height:25px" alt="" />
																										</div>
																										<div style="font-size:0pt; line-height:0pt; height:25px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="25" style="height:25px" alt="" />
																										</div>
																										<div style="font-size:0pt; line-height:0pt; height:25px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="25" style="height:25px" alt="" />
																										</div>
																										<div style="font-size:0pt; line-height:0pt; height:25px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="25" style="height:25px" alt="" />
																										</div>
																										<div style="font-size:0pt; line-height:0pt; height:15px">
																											<img src="<%= attachments['empty.gif'].url %>" width="1" height="15" style="height:15px" alt="" />
																										</div>
																									</td>
																									<td style="font-size:0pt; line-height:0pt; text-align:left;" width="92"></td>
																									<td style="font-size:0pt; line-height:0pt; text-align:left;" width="1" bgcolor="#253035"></td>
																								</tr>
																							</table>
																						</td>
                                          </tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td style="font-size:0pt; line-height:0pt; text-align:left;">
																	<img src="<%= attachments['box2_bottom.jpg'].url %>" width="580" height="9" alt="" />
																</td>
															</tr>
														</table>
													</td>
													<td style="font-size:0pt; line-height:0pt; text-align:left;" bgcolor="#1E2A30" width="9"></td>
													<td style="font-size:0pt; line-height:0pt; text-align:left;" bgcolor="#3F494E" width="1"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td style="font-size:0pt; line-height:0pt; text-align:left;">
											<img src="<%= attachments['box1_bottom.jpg'].url %>" width="600" height="10" alt="" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div style="font-size:0pt; line-height:0pt; height:20px">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="20" style="height:20px" alt="" />
					</div>
				</td>
				<td valign="top" bgcolor="#0E151B">
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0e151b;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#02090d;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#030b10;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#040d12;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#040e14;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:33px; background:#040f15;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="33" style="height:33px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:33px; background:#040f15;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="33" style="height:33px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:6px; background:#061115;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="6" style="height:6px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#071015;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#060f13;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#040a0d;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#000000;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#090d11;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0a0f14;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0c1217;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
					<div style="font-size:0pt; line-height:0pt; height:1px; background:#0d141a;">
						<img src="<%= attachments['empty.gif'].url %>" width="1" height="1" style="height:1px" alt="" />
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
