- content_for :title do
  My Music

- content_for :sub_content do
  .my_music
    .my_music_section
      %h1.cufon My Original Songs
      = render partial: "songs/my_songs", locals: { songs: @originals, hide_avatars: false,limit: 3 }

    .my_music_section
      %h1.cufon My Remixes
      = render partial: "songs/my_songs", locals: { songs: @remixes, hide_avatars: false,  limit: 3 }

    .my_music_section
      %h1.cufon My Purchases
      = render partial: "songs/my_songs", locals: { songs: @purchases,  hide_avatars: false, limit: 3 }
    
    .my_music_section
      %h1.cufon My Projects
      = render partial: "songs/my_songs", locals: { songs: @projects, hide_avatars: false,  limit: 3 }

-# XXX: This is initialized in a partial
- if @non_finished_multitrack_files.present?
  - content_for :document_ready do
    var pusher = new Pusher('#{Pusher.key}');
    - for song in @non_finished_multitrack_files
      pusher.subscribe('multitrack_zip_file_#{song.id}').bind_all(function(event, data) {
      $('#download_link_#{song.id}').html('<a href="' + data.song_url + '">download</a>');
      });

