- content_for :title do
  == Edit #{@record_label.name}

- content_for :tabs do
  %h1== #{@record_label.name}
  
- content_for :sub_content do
  .edit_record_label
    .image
      = image_tag @record_label.picture.picture.url(:front_page_4) if @record_label.picture.picture.path.present?
      .clear
      .hint 
        Image formats: PNG, JPG and GIF.
        %br
        PNG guarantees best quality.
        %br
        No less than 175 px x 175 px. 

    = simple_form_for @record_label, :html => { :multipart => true } do |f|
      = f.input :name, :required => false
      = f.input :tagline, :required => false
      = f.input :description, :label => "Max 400<br/>characters", :input_html => { :rows => 10 }
      = f.input :website, :label => "http://"
      = f.simple_fields_for :picture do |pic_form|
        = pic_form.input :picture
      = f.submit "save"


    %h1 Artists
    .clear
    .artist_list
      - for artist in @artists do
        .artist
          - image_url = artist.picture.present? ? artist.picture.url(:front_page_10) : image_path("no_profile_picture.png")
          = link_to image_tag(image_url), artist
          .artist_info
            = link_to artist.name, artist
            %br
            = link_to " (log in)", user_impersonation_path(artist), :method => :post

      

