%body{:id => 'dialog'}
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :remote => true) do |f|
    #join_popup_div
      .join_popup
        .top_curve_join
        .clear
        .join_repeat
          .content_join
            .close
              = image_tag('lock_icon.png', :class => 'lock_icon')
              Forgot password?
              %small= link_to image_tag('icons/close.gif'), '#', :class => 'close_button'
              %span.clear
              .alert= flash[:alert] if flash[:alert].present?

              #left_180
                #password_reset
                  #instructions
                    Enter your email address and press send to get an email with password reset instructions
                  #errors
                    = devise_error_messages!
                  = f.input :email
                  = image_submit_tag "send_button.png", :id => 'send_password_reset_button'

              #right_200

        .clear
        .bottom_curve_join

  :javascript
    $(document).ready(function() {
      $('.close_button').live('click', function() {
        self.parent.Shadowbox.close();
      });
      $('.loader_link').click(function() {
        $('.loader').show();
      });

      $('#user_new').bind("ajax:success", function(evt, data, status, xhr) {
        eval(xhr.responseText);
      });

      $('#user_new').submit(function() {
        $('#send_password_reset_button').attr('src', '/images/loader.gif');
      });
    });
