%ul.menu
  %li= link_to_unless_current 'Dashboard', '/admin'
  %li= link_to_unless_current 'Messages',       admin_admin_messages_path
  %li= link_to_unless_current 'Genres',     admin_genres_path
  -# %li= link_to_unless_current 'Agents',         admin_agents_path
  %li= link_to_unless_current 'Songs',          admin_songs_path
  %li= link_to_unless_current 'Users',          admin_users_path
  -# %li= link_to_unless_current 'Record labels',  admin_record_labels_path
  %li= link_to "News", "#"