.topbar
  .topbar-inner
    .container-fluid
      = link_to 'Koblo', root_path, :class => 'brand'
      %ul.nav.secondary-nav
        %li.dropdown
          = link_to current_user.email, "#", class: "dropdown-toggle"
          %ul.dropdown-menu
            %li= link_to "Administration", admin_path
            - if impersonating?
              %li= link_to "Log out", user_impersonation_path(current_user), :method => :delete
            - else
              %li= link_to "Log out", destroy_user_session_path
              

= content_for :document_ready do
  $(".dropdown").dropdown();
